.advantages {
    min-height: 470px;
    background: #F6F6F6;
    padding: 70px 0 67px 0;
    &__wrapper {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 260px;

    }
    &__icon {
        width: 70px;
        height: 70px;
        img: {
            max-width: 100%;
        }
        &_animated {
            animation: heartbeat 2s ease infinite;
            &:hover {
                animation-play-state: paused;
            }
        }
    }
    &__subtitle {
        margin-top: 30px;
        font-weight: 700;
        font-size: 20px;
        line-height: 29px;
        color: #0D0D0D;
    }
    &__descr {
        margin-top: 20px;
        font-weight: 300;
        font-size: 16px;
        line-height: 18px;
        text-align: center;
        color: #0D0D0D;
        a {
            font-family: 'MuseoModerno';
            font-style: normal;
            font-weight: 300;
            text-decoration-line: underline;
            color: #FF0000;
        }
    }
}